<header class="site-header">
  {% if page.url == "/" %}
    <h1 class="site-title"><a href="{{ '/'' | url }}"><span>Disco</span>Liam</a></h1>
  {% else %}
    <p class="site-title"><a href="{{ '/' | url }}"><span>Disco</span>Liam</a></p>
  {% endif %}
</header>