<header class="site-header">
  <div class="container">
    {% if page.url == "/" %}
      <h1 class="site-title"><a href="{{ '/'' | url }}">DiscoLiam</a></h1>
    {% else %}
      <p class="site-title"><a href="{{ '/' | url }}">DiscoLiam</a></p>
    {% endif %}
  </div>

</header>