<header class="site-header">
  <div class="container">
    <a href="{{ '/'' | url }}" class="site-title">
      <span class="sr-only">Discoliam.com - Go to Home page</span>
      <svg class="icon svg-logo svg-logo-top"><use xlink:href="#logo"></use></svg>
      <svg class="icon svg-logo svg-logo-bottom"><use xlink:href="#logo"></use></svg>
    </a>
  </div>

  <button class="scheme-toggle" data-schemeToggle>Light</button>
</header>