<header class="site-header">
  <div class="container">
    <a href="{{ '/'' | url }}" class="site-title">
      <span class="sr-only">Discoliam.com - Go to Home page</span>
      <svg class="icon svg-logo svg-logo-top"><use xlink:href="#logo"></use></svg>
      <svg class="icon svg-logo svg-logo-bottom"><use xlink:href="#logo"></use></svg>
    </a>
  </div>

  <nav class="main-nav" aria-labelledby="menu-toggle" aria-expanded="false">
    <a href="/">Home</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/about">About</a>
    <a href="/uses">/uses</a>
    <a href="#contact">Contact</a>
  </nav>

  <button id="menu-toggle" class="menu-toggle" aria-haspopup="true" title="Site Navigation">
    Menu
  </button>

  <button id="theme_toggle" class="theme-toggle">
    <span class="sr-only">Chage the theme to <span id="theme_readout"></span></span>
  </button>
</header>