/* Body */
body.menu-is-open{
  overflow: hidden;
}

/* One col Layout */
.container.is-main-body{
  display: grid;
  grid-template-columns:  [col1-start] 1fr [col1-end];
  gap: var(--gap);
  padding-bottom: 85px;
  overflow: hidden;
  & .grid-col{
    grid-area: col1;
  }

  @media (--viewport-medium) {
    grid-template-columns: repeat(1, 1fr) [col1-start] repeat(10, 1fr) [col1-end] repeat(1, 1fr);
  }

  @media (--viewport-large) {
    grid-template-columns: repeat(2, 1fr) [col1-start] repeat(8, 1fr) [col1-end] repeat(2, 1fr);
  }

  @media (--viewport-extra-large) {
    grid-template-columns: repeat(3, 1fr) [col1-start] repeat(6, 1fr) [col1-end] repeat(3, 1fr);
  }

}

/* Images */
.img-wrapper{
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  & img{
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: var(--border-radius);
  }
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-4deg) translate(-10%, 5%);
    background-color: var(--alt);
    z-index: 0;
    border-radius: var(--border-radius);
  }
}


/* Heading Anchors */
.heading-link {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-105%, -50%);
  color: var(--main);
  transition: opacity 180ms linear;
  opacity: 0;
  font-size: 80%;

  &::after{
    display: none;
  }

  &:hover, &:focus{
    color: var(--alt);
  }

}

h1, h2, h3, h4, h5, h6 {
  &:focus, &:focus-within, &:hover {
    & a.heading-link{
      opacity: 0.6;
    }
  }
}

/* Browser Upgrade */
.browserupgrade{
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: var(--alt);
  color: var(--light);
  text-align: center;
  z-index: 10;
  & a{
    color: var(--secondary);
    &:hover, &:focus{
      color: var(--primary);
    }
  }
}


/* Scrollbar */
html{
  scrollbar-color: var(--secondary) transparent;
  scrollbar-width: thin;
}
