/* One col Layout */
.container.is-main-body{
  display: grid;
  grid-template-columns:  [col1-start] repeat(12, 1fr) [col1-end];
  gap: var(--gap);
  padding-bottom: 85px;
  & .grid-col{
    grid-area: col1;
  }

  @media (--viewport-medium) {
    grid-template-columns: repeat(1, 1fr) [col1-start] repeat(10, 1fr) [col1-end] repeat(1, 1fr);
  }

  @media (--viewport-large) {
    grid-template-columns: repeat(2, 1fr) [col1-start] repeat(8, 1fr) [col1-end] repeat(2, 1fr);
  }

  @media (--viewport-extra-large) {
    grid-template-columns: repeat(3, 1fr) [col1-start] repeat(6, 1fr) [col1-end] repeat(3, 1fr);
  }

}


/* Heading Anchors */
.heading-link {
  color: var(--main);
  transition: opacity 180ms linear;
  opacity: 0;
  font-size: 80%;
  &::after{
    display: none;
  }
  &:hover, &:focus{
    color: var(--alt);
  }
}

h1, h2, h3, h4, h5, h6 {
  &:focus, &:focus-within, &:hover {
    & a.heading-link{
      opacity: 0.6;
    }
  }
}