/* Footer */
.site-footer{
  background-color: var(--main);
  color: var(--light);
  text-align: center;
  & h2 {color: var(--light);}
  & a{
    color: var(--white);
    &:hover{
      color: var(--secondary);
    }
  }

  & .container{
    padding-top: 71px;
    padding-bottom: 54px;
  }

  & nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    & a{
      display: inline-block;
      text-transform: uppercase;
      font-family: var(--font-heading);
      font-size: 21px;
      font-weight: 600;
      margin: 0 10px;
      color: var(--secondary);
      &::after{
        display: none;
      }
      &:hover{
        color: var(--alt);
      }
    }
  }

  & p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 23px;
    &.details{
      font-size: 12px;
    }
    &.copy{
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  @media (--viewport-medium) {
    text-align: left;

    & .container{
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(3, 1fr) [col1-start] repeat(3, 1fr) [col1-end col2-start] repeat(3, 1fr) [col2-end] repeat(3, 1fr);
    }

    & .grid-col{
      grid-row: 1;
      &:nth-child(1){
        grid-column: col2;
      }
      &:nth-child(2){
        grid-column: col1;
      }
    }

    & nav{
      /* flex-wrap: wrap; */
      justify-content: space-between;
      & a{
        width: 50%;
        margin: 0 0 0 0;
      }
    }

  }



}
