/* Footer */
.site-footer{
  overflow: hidden;
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  & h2 {color: var(--light);}
  & a{
    color: var(--white);
    &:hover{
      color: var(--secondary);
    }
  }

  & .container{
    padding-top: 71px;
    padding-bottom: 54px;
  }

  & .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    & a{
      display: inline-block;
      text-transform: uppercase;
      font-family: var(--font-heading);
      font-size: 21px;
      font-weight: 600;
      margin: 0 10px;
      color: var(--secondary);
      &.secondary{
        font-size: 14px;
      }
      &::after{
        display: none;
      }
      &:hover{
        color: var(--alt);
      }
    }
  }

  & p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 23px;
    &.details{
      font-size: 12px;
    }
    &.copy{
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  & .social-nav {
    text-align: center;
    margin-bottom: 23px;
    & a{
      color: var(--white);
      display: inline-block;
      margin: 0 10px;
      &::after{
        display: none;
      }
      & svg{
        width: 24px;
        height: 24px;
      }
      &:hover{
        color: var(--secondary);
      }
    }
  }

  @media (--viewport-medium) {
    text-align: left;

    & .container{
      display: grid;
      gap: var(--gap);
      grid-template-columns: [col1-start] repeat(5, 1fr) [col1-end] repeat(2, 1fr) [col2-start] repeat(5, 1fr) [col2-end];
    }

    & .grid-col{
      grid-row: 1;
      &:nth-child(1){
        grid-column: col2;
      }
      &:nth-child(2){
        grid-column: col1;
      }
    }

    & .footer-nav{
      justify-content: space-between;
      & a{
        width: 100%;
        margin: 0 0 0 0;
      }
    }

    & .social-nav{
      text-align: left;
    }

  }

  @media (--viewport-extra-large) {
    & .container{
      grid-template-columns: repeat(2, 1fr) [col1-start] repeat(3, 1fr) [col1-end] repeat(2, 1fr) [col2-start] repeat(3, 1fr) [col2-end] repeat(2, 1fr);
    }
  }

}
