/* Header */
.site-header {
  text-align: center;
  height: 177px;
  margin-bottom: 136px;
  & .site-title{
    display: inline-block;
    width: 354px;
    height: 354px;
    color: var(--alt);
    transform-origin: center center;
    animation: spin 40s infinite both linear;
    position: absolute;
    top: -177px;
    left: calc(50% - 177px);
    z-index: 1;
    animation-play-state: paused;
    &::after{display: none;}
    &:hover{
      animation-play-state: running;
    }
    & .svg-logo{
      display: block;
      width: 354px;
      height: 177px;
      &.svg-logo-top{
        transform-origin: center center;
        transform: rotate(180deg);
      }
    }
  }
  & img{
    border-radius: 9999em;
    width: 174px;
    height: 174px;
    position: absolute;
    top: calc(-174px/2);
    left: calc(50% - 174px/2);
    z-index: 0;
  }
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}