/* One col Layout */
.container.single-col{
  display: grid;
  grid-template-columns:  [col1-start] repeat(12, 1fr) [col1-end];
  gap: var(--gap);
  padding-bottom: 85px;
  & .grid-col{
    grid-area: col1;
  }

  @media (--viewport-medium) {
    grid-template-columns: repeat(1, 1fr) [col1-start] repeat(10, 1fr) [col1-end] repeat(1, 1fr);
  }

  @media (--viewport-large) {
    grid-template-columns: repeat(2, 1fr) [col1-start] repeat(8, 1fr) [col1-end] repeat(2, 1fr);
  }

}

/* intro */
.intro {
  & .grid-col{
    background: var(--main);
    color: var(--light);
    padding: 120px 32px 32px 32px;
    position: relative;
    border-radius: 3px;
    & .img{
      position: absolute;
      left: 50%;
      top: 0%;
      transform: translate(-50%, -50%);
      width: 175px;
      height: 175px;
      border: solid 10px var(--background);
      border-radius: 50%;
      & img{
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        border-radius: 50%;
      }
      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: var(--secondary);
        mix-blend-mode: multiply;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
      }
    }
    @media (--viewport-medium) {
      padding: 32px 32px 32px 180px;

      & .img{
        width: 250px;
        height: 250px;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  & h1{
    line-height: 1.5;
    color: var(--secondary);
    letter-spacing: 0.5px;
    font-size: 1.5rem; /* 24px */
    display: inline;
  }

  & p.lead{
    display: inline;
    line-height: 1.5;
    font-size: ;
    & span, & strong {
      color: var(--secondary);
    }
    &.two{
      display: block;
      margin-top: 15px;
    }
  }


}


/* Logo Sections */
.previous-clients, .projects h2{
  text-align: center;
}

.previous-clients, .projects{
  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    & li{
      flex-basis: calc(50%);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (--viewport-small) {
        flex-basis: calc(33.3%);
      }
      @media (--viewport-medium) {
        flex-basis: calc(25%);
      }
      & svg{
        width: 70%;
        height: 100%;
      }
    }
  }
}