/* Two col Layout */
.container.double-col{
  padding-bottom: 85px;
  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: [col1-start] repeat(6, 1fr) [col1-end col2-start] repeat(6, 1fr) [col2-end];
    gap: var(--gap);
    & .grid-col{
      &:nth-child(1) {
        grid-area: col1;
      }
      &:nth-child(2) {
        grid-area: col2;
      }
    }
  }
  @media (--viewport-large) {
    grid-template-columns: 1fr [col1-start] repeat(5, 1fr) [col1-end col2-start] repeat(5, 1fr) [col2-end] 1fr;
  }
}

.project:nth-child(2n+1){
  @media (--viewport-medium) {
    & .grid-col{
      &:nth-child(1) {
        grid-area: col2;
        & .portfolio-img::before{
          transform: rotate(4deg) translate(5%, -2.5%);
        }
      }
      &:nth-child(2) {
        grid-area: col1;
      }
    }
  }
}

.portfolio-img{
  position: relative;
  & img{
    z-index: 1;
    position:relative;
    border-radius: var(--border-radius);
  }
  & svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    z-index: 2;
  }
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-4deg) translate(-5%, 2.5%);
    background-color: var(--alt);
    z-index: 0;
    border-radius: var(--border-radius);
  }
}



dl.project-details dt {
  float: left;
  clear: left;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  &::after {
    content: ":";
  }
}