/* One col Layout */
.container.is-main-body{
  display: grid;
  grid-template-columns: repeat(3, 1fr) [col1-start] repeat(6, 1fr) [col1-end] repeat(3, 1fr);
  gap: 32px;
  & main{
    grid-area: col1;
  }
}




/* Header */
.site-header {
  & .site-title a{
    text-decoration: none;
    color: var(--alt);
  }
}


/* Previous Clinets */
.previous-clients, .projects{
  & ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    & li{
      flex-basis: calc(50%);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (--viewport-small) {
        flex-basis: calc(33.3%);
      }
      @media (--viewport-medium) {
        flex-basis: calc(25%);
      }
      & svg{
        width: 70%;
        height: 70%;
      }
    }
  }
}


/* Social */
section.social{
  & nav{
    & a{
      display: inline-block;
      margin-right: 10px;
      & svg{
        width: 32px;
        height: 32px;
      }
    }
  }
}


/* Footer */
.site-footer{
  background-color: var(--main);
  color: var(--light);
  margin-top: 40px;
  text-align: center;

  & a{
    color: var(--secondary);
    &:hover{
      color: var(--alt);
    }
  }

  & .container{
    padding-top: 40px;
    padding-bottom: 40px;
  }


  & nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    & a{
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      margin: 0 10px;
    }
  }

  & p {
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 0;
  }

}
