/* One col Layout */
.container.is-main-body{
  display: grid;
  grid-template-columns: repeat(3, 1fr) [col1-start] repeat(6, 1fr) [col1-end] repeat(3, 1fr);
  gap: 32px;
  & main{
    grid-area: col1;
  }
}


/* Header */
.site-header {
  text-align: center;
  height: 177px;
  & .site-title{
    display: inline-block;
    width: 354px;
    height: 354px;
    color: var(--alt);
    transform-origin: center center;
    animation: spin 40s infinite both linear;
    position: absolute;
    top: -177px;
    left: calc(50% - 177px);
    z-index: 1;
    animation-play-state: paused;
    &::after{display: none;}
    &:hover{
      animation-play-state: running;
    }
    & .svg-logo{
      display: block;
      width: 354px;
      height: 177px;
      &.svg-logo-top{
        transform-origin: center center;
        transform: rotate(180deg);
      }
    }
  }
  & img{
    border-radius: 9999em;
    width: 174px;
    height: 174px;
    position: absolute;
    top: calc(-174px/2);
    left: calc(50% - 174px/2);
    z-index: 0;
  }
}


/* Previous Clinets */
.previous-clients, .projects{
  & ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    & li{
      flex-basis: calc(50%);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (--viewport-small) {
        flex-basis: calc(33.3%);
      }
      @media (--viewport-medium) {
        flex-basis: calc(25%);
      }
      & svg{
        width: 70%;
        height: 70%;
      }
    }
  }
}


/* Social */
section.social{
  & nav{
    & a{
      display: inline-block;
      margin-right: 10px;
      & svg{
        width: 32px;
        height: 32px;
      }
    }
  }
}


/* Footer */
.site-footer{
  background-color: var(--main);
  color: var(--light);
  margin-top: 40px;
  text-align: center;

  & a{
    color: var(--secondary);
    &:hover{
      color: var(--alt);
    }
  }

  & .container{
    padding-top: 40px;
    padding-bottom: 40px;
  }


  & nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    & a{
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      margin: 0 10px;
    }
  }

  & p {
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 0;
  }

}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}