/* Settings */


/* Media Queries */
@custom-media --viewport-small (min-width: 600px);
@custom-media --viewport-medium (min-width: 768px);
@custom-media --viewport-large (min-width: 1024px);
@custom-media --viewport--extra-large (min-width: 1440px);



/* Vars */
:root {
  /* Main Colours */
  --light: #FFFBE9;
  --dark: #002726;
  --main: #005c5a;
  --alt: #ef4744;
  --secondary: #fdbe27;


  /* Functional Colours */
  --error: #B0020C;
  --success: #0f0;

  /* Type */
  $base-font-size: 16px;
  $base-line-height: 1.5;
  $heading-line-height: 1.2;

  /* Border */
  --base-border: 1px solid rgba($dark, 0.2);

  /* Other Sizes */
  --body-radius: 3px;
  --base-spacing-external: span(1 of 16);
  --base-spacing-internal: 20px;

  /* Animations */
  --base-duration: 180ms;
  --base-timing: ease;
}


/* Helper Classes */
.screen-reader-text {
  display: none;
}