/* Settings */


/* Media Queries */
@custom-media --viewport-small (min-width: 600px);
@custom-media --viewport-medium (min-width: 768px);
@custom-media --viewport-large (min-width: 1024px);
@custom-media --viewport-extra-large (min-width: 1440px);

/* Vars */
:root {

  /* Brand Colours */
  --off-white: #FFFBE9;
  --navy: #002726;
  --teal: #005c5a;
  --pastel-red: #ef4744;
  --macaroni-and-cheese: #fdbe27;

  /* Main Colours */
  --light: var(--off-white);
  --dark: var(--navy);
  --main: var(--teal);
  --alt: var(--pastel-red);
  --secondary: var(--macaroni-and-cheese);


  /* Switchers */
  --background: var(--light);
  --text: var(--dark);
  @media (prefers-color-scheme: dark) {
    --background: var(--dark);
    --text: var(--light);
  }



  /* Functional Colours */
  --error: var(--alt);
  --success: #384e3c;

  /* Type */
  $base-font-size: 16px;
  $base-line-height: 1.5;
  $heading-line-height: 1.2;

  /* Border */
  --base-border: 1px solid rgba($dark, 0.2);

  /* Other Sizes */
  --body-radius: 3px;
  --base-spacing-external: span(1 of 16);
  --base-spacing-internal: 20px;

  /* Animations */
  --base-duration: 180ms;
  --base-timing: ease;

  /* Grid */
  --gap: var(--gap);



}



/* Helper Classes */
.screen-reader-text {
  display: none;
}