/* Tyography */

:root{
  --font-regular: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}

p {margin: 0 0 23px 0;}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 0.98;
  letter-spacing: 0.33px;
  margin: 0 0 23px 0;
  color: var(--main);
  position: relative;
}

h1 {font-size: 3.75rem;} /* 60px */
h2 {font-size: 2.5rem; } /* 40px */
h3 {font-size: 1.875rem; } /* 30px */
h4 {font-size: 1.5rem; } /* 24px */
h5 {font-size: 1.25rem; } /* 20px */
h6 {font-size: 1.125rem; } /* 18px */

small, .text_small {font-size: 0.667rem;}

.lead{
  font-family: var(--font-heading);
  font-weight: 600;
  line-height:  1.4;
  letter-spacing: 0.5px;
  font-size: 1.5rem; /* 24px */
  & span, & strong {
    color: var(--main);
  }

}

.subtitle{
  font-family: var(--font-regular);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Bold */
strong {
  font-weight: 600; /* Semi Bold */
}

/* Italic */
em,
i {
  font-style: italic;
}

/* Links */
a {
  transition: color var(--base-duration) var(--base-timing);
  text-decoration: none;
  color: var(--dark);
  font-weight: 600;
  position: relative;
  &::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--alt);
    position: absolute;
    bottom: -3px;
    left: 0;
    transform-origin: 0;
  }

  &:hover {
    color: var(--main);
    text-decoration: none;
    &::after{
      animation: re-draw 500ms 1 both;
    }
  }

}

@keyframes re-draw {
  0%   { transform: scaleX(0); }
  10%   { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

/* Blockquote */
blockquote{
  font-family: var(--font-heading);
  font-size: 1.5rem; /* 24px */
  font-weight: 300;
  font-style: italic;
  line-height: 1.38;
  color: var(--alt);
  position: relative;
  margin: 0;
  padding: 45px;
  display: block;
  &::before, &::after{
    position: absolute;
    font-size: 4rem;
    display: block;
    height: 20px;
    line-height: 1;
    letter-spacing: 0;
  }
  &::before {
    content: open-quote;
    top: 0;
    left: 0;
  }
  &::after {
    content: close-quote;
    bottom: 45px;
    right: 0;
  }
}

/* Code */
code, pre{
  background-color: var(--dark);
  color: var(--secondary);
  border-radius: 3px;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  padding: 0 3px;
}

pre{
  padding: 10px;
}


/* HR */

hr{
  height: 0.0625rem;
  background-color: var(--dark);
  border: 0;
}

