// ------------------------------------------------------------
// Settings
// ------------------------------------------------------------

// Vars
// ------------------------------------------------------------

// Main Colours
$light: #f1f1f1; // White
$dark: #40677D; // Dark Blue / Grey
$main: #19e3bd; // Turq
$alt: #E66653; // Light Red
$secondary: #0272B0; // Blue

// Functional Colours Error
$error: #B0020C; // Red
$success: #0f0; // Green

// Typography
$base-font-size: 15px;
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Border
$base-border: 1px solid rgba($dark, 0.2);

// Other Sizes
$body-radius: 3px;

$base-spacing-external: span(1 of 16);
$base-spacing-internal: 20px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Mixins
// ------------------------------------------------------------

@mixin link-style-none {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  font-weight: 400;
  &:hover {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
}
// @mixin stack {
//   text-shadow: 0.03em 0.03em 0 $alt, 0.07em 0.07em 0 $main;
// }

// @mixin small-stack {
//   text-shadow: 0.03em 0.03em 0 $alt, 0.07em 0.07em 0 $main;
// }

// @mixin box-stack {
//   box-shadow: 1px 1px $alt, 2px 2px $alt, 3px 3px $alt, 4px 4px $alt,
//     5px 5px $alt, 6px 6px $main, 7px 7px $main, 8px 8px $main, 9px 9px $main,
//     10px 10px $main;
// }

@mixin margin-bottom() {
  margin-bottom: 40px;
  @include mq($from: medium) {
    margin-bottom: 60px;
  }
}

// Helper Classes
// ------------------------------------------------------------
.screen-reader-text {
  display: none;
}
