// ------------------------------------------------------------
// Tyography
// ------------------------------------------------------------

// Google Import
@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i");

@mixin font-regular() {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

@mixin font-heading() {
  font-family: "Raleway", sans-serif;
}

// Body
body {
  @include font-regular();
  background-color: $dark;
  color: $light;
  line-height: 1.65;
  font-weight: 400;
}

p {margin-bottom: 1.15rem;}

main h1, h2, h3, h4, h5{
  margin: 2.75rem 0 1.05rem;
  @include font-heading();
  font-weight: 800;
  line-height: 1.15;
  text-transform: uppercase;
  color: $main;
  letter-spacing: 2px;
}

h2,h3,h4,h5{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $main;
}

main h1 {
  font-size:5em;
  margin-top: 0;
  color: $alt;
}


h2 {font-size: 3.998em; margin-top: 0;}

h3 {font-size: 2.827em;}

h4 {font-size: 1.999em;}

h5 {font-size: 1.414em;}

small, .text_small, .site-footer {font-size: 0.707em;}


.lead{
  font-size: 28px;
  @include font-heading();
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 800;
  span{
    color: $alt;
  }
}

nav{
  a{
    @include font-heading;
    letter-spacing: 1px;
    display: inline-block;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    margin: 0 10px;
    line-height: 1;
    &:hover{
      color: $dark;
      box-shadow: inset 0px -1.5rem 0px 0px $alt;
    }
  }
}

// Bold
strong {
  font-weight: 800;
}

// Italic
em,
i {
  font-style: italic;
}

// Links
a {
  color: $main;
  text-decoration: none;
  font-style: italic;
  transition: color $base-duration $base-timing,
    box-shadow $base-duration $base-timing;
    box-shadow: inset 0px -0.1rem 0px 0px $alt;
  &:hover {
    box-shadow: inset 0px -1.5rem 0px 0px $alt;
    color: $dark;
  }
}

.strikethrough {
  text-decoration: line-through;
}